<!DOCTYPE html>
<html>
<head>
    <title>Socket Test</title>
</head>
<body>

<div>
    <label for="amount">Amount</label>
    <input id="amount" type="number" />
</div>

<button id="sender">Send message</button>

<p id="max-bid"></p>

<script>
const roomId = "<%= roomId %>";
</script>

<script src="/biddingroom.js" type="module"></script>
</body>
</html>
