<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/account.css" />
  </head>
  <body>
    <h1>Salamander</h1>
    <div id="form">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" />
      </div>
      <div>
        <p id="error"></p>
      </div>
      <button id="submit">Create account</button>
    </div>

    <script>
      let usernameElement = document.getElementById("username");
      let passwordElement = document.getElementById("password");
      let submit = document.getElementById("submit");
      let error = document.getElementById("error");

      submit.addEventListener("click", async () => {
        let username = usernameElement.value;
        let password = passwordElement.value;
        await fetch("/account/create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username: username, password: password }),
        })
          .then((response) => {
            console.log("Status:", response.status);
            return response.json().then((body) => {
              if (response.status >= 400) {
                error.textContent = body.error;
              } else {
                error.textContent = "";
              }
            });
          })
          .catch((error) => {
            console.log(error);
          });
      });
    </script>
  </body>
</html>
