#product {
  display: flex;
  padding: 0 3rem;
  flex-direction: row-reverse;
  justify-content: space-between;
}

p {
  font-size: large;
}

.info {
  padding: 1rem;
  flex-basis: 40%;
}

.info .seller {
  color: gray;
}

.info .date,
.info .price {
  font-weight: bold;
}

.carousel-wrapper {
  flex-basis: 60%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 80vh;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  object-fit: contain;
  max-height: 100%;
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev i,
.next i {
  font-size: 1.5rem;
}
