body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  margin: 0;
}

#form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 1rem;
}

#form div {
  display: flex;
  flex-direction: column;
}

#form #error {
  color: red;
}

label {
  font-size: 14px;
  margin-bottom: 0.25rem;
}

input, button {
  font-size: 14px;
  padding: 0.25rem;
}
